[defaults]
inventory = /etc/ansible/ansible_synology_docker/inventory
private_key_file = ~/.ssh/ansible
become = true
become_method = sudo
[ssh_connection]
ssh_args = -o Port=2299
ssh_transfer_method = piped
ansible_user = admin

