[defaults]
inventory = inventory
private_key_file = ~/.ssh/ansible
roles_path = roles
retry_files_enabled = False
deprecation_warnings = False
stdout_callback = default
timeout = 30
forks = 10
gathering = smart
vault_password_file   = ~/.vault_pass
[ssh_connection]
ssh_args = -o Port=2299
transfer_method = piped
scp_if_ssh = False
pipelining = True
# Force Ansible to use Entware Python for all tasks
interpreter_python = /opt/bin/python3

